@charset "utf-8";

/*ν—¤λ”*/

#header{}

.hTop{
	height:40px;
	background:url(../images/common/bg_top.gif);
	padding-left:10px;
}
.hTop h1{
	width:120px;
	height:100%;
	background:url(../images/main/logo.gif) no-repeat left center;
	background-size:100%;
	text-indent:-9999px;
}
.hTop h1 a{
	display:block;
	padding:2px 0;
}

.panel{
	width:40px;
	height:40px;
	background:#10509d;
	position:absolute;
	right:0;
	top:0;
	text-indent:-9999px;
}
.panel a{
	display:block;
	height:100%;
	padding-top:12px;
	box-sizing:border-box;
}
.panel a span,.panel a::before,.panel a::after{
	content:"";
	display:block;
	width:20px;
	height:2px;
	background:#fff;
	margin:0px auto;
}
.panel a span{
	margin:5px auto;
}

.gnb{
	background:url(../images/common/bg_gnb.gif);
	height:29px;
	font-size:11px;
	line-height:29px;
}
.gnb li{
	width:20%;
	text-align:center;
	float:left;
	border-left:1px solid #595959;
	border-right:1px solid #363636;
	box-sizing:border-box;
}
.gnb li:first-child{
	border-left:0;
}
.gnb li:last-child{
	border-right:0;
}
.gnb li a{
	color:#eee;
	display:block;
}

/*ν‘Έν„°*/

#footer{
	max-height:126px;
	background:url(../images/common/bg_footer_new.gif);
	color:#fff;
	font-size:10px;
	text-align:center;
	padding:10px 0;
}
#footer p{}

.fBtn{}
.fBtn li{
	display:inline-block;
	border:1px solid #fff;
	padding:5px 10px;
	border-radius:2px;
	margin:5px 10px;
}
.fBtn li a{
	color:#fff;
}